<table class="table">
	<tr><%= attachment_image_tag(current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= current_user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= current_user.introduction %></th>
	</tr>
	<% @user ||= current_user %>
	<tr>
	 	<th>following</th>
	 	<th> <%= link_to @user.followings.count,following_user_path(@user)  %></th>
	</tr>
	<tr>
	 	<th>followers</th>
	    <th><%= link_to @user.followers.count, followers_user_path(@user) %></th>
	<tr>
</table>

<div class="row">
	<%= link_to '', edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</div>
