<%= form_tag(search_path, :method => 'get') do %>

    <%= select_tag(:option, options_for_select([["user", "1"],["book","2"]]))%>
    <%= select_tag(:choice, options_for_select([["完全一致検索", "1" ],["前方一致検索", "2" ],["後方一致検索", "3" ],["部分一致検索", "4" ]])) %>

    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil%>
<% end %>

<% if @user_or_book == "1" %>
    <h1>User</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th><%= user.name %> </th>
            </tr>
        </thead>
        <% end %>
    </table>

<% elsif @user_or_book == "2" %>
    <h2>Book</h2>
    <table>
    <% @books.each do |book| %>
        <thead>
            <tr>
                <th></th>
                <th><%= book.title %></th>
            </tr>
        </thead>
    <% end %>
    </table>
<% else %>
<% end %>